.table-component-wrapper {
  position: relative;

  .table-component {
    margin: 0;
    padding: 0;
    width: 100%;
    border-collapse: collapse;
    font-size: 0.9em;
    font-family: sans-serif;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
    background: white;
    table-layout: fixed;

    tr {
      width: 100%;

      border-bottom: 1px solid #dddddd;

      th, td {
        padding: 12px 15px;

      }

      td {
        transition: linear 0.3s
      }

      th {
        font-weight: bold;
        text-align: left;
        background-color: #009879;
        color: #ffffff;
        position: relative;
      }

      &:hover {
        background: #fafafa;

        td {
          color: #009879;
          transition: linear 0.3s
        }
      }

      .sortable {
        position: relative;
        cursor: pointer;
        user-select: none;

        &--off {

        }

        .content {
          width: fit-content;
          position: relative;
          padding-right: 15px;
          display: flex;
          align-items: center;
          &:after {
            font-size: 12px;
            position: absolute;
            right: 0;
          }
        }


        &--asc {
          .content {
            &:after {
              content: '▲';
            }
          }
        }

        &--desc {
          .content {
            &:after {
              content: '▼';
            }
          }
        }

      }

    }

    &:nth-of-type(even) {
      background-color: #f3f3f3;
    }

    &:last-of-type {
      border-bottom: 2px solid #009879;
    }

    .clickable {
      cursor: pointer;
    }

    .centered {
      text-align: center;
    }
  }

  .loader-container {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.1);
  }
}

