.button {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  padding: 15px 10px;
  border: 1px solid rgba(0,0,0,0.1);
  outline: none;
  background: linear-gradient(90deg, rgba(0,152,121,1) 0%, rgba(0,152,148,1) 100%);
  box-shadow: 0 0 20px rgba(1, 1, 0, 0.3);

  .text {
    color: white;
    font-weight: bold;
  }
}
