.add-form {
  display: flex;
  align-items: end;
  margin-bottom: 15px;

  .input-group {
    display: flex;

    .input {
      margin-left: 15px;

      &:first-child {
        margin-left: 0;
      }
    }
  }

  .input {
    border-radius: 1px;
  }

  .button {
    margin-left: 15px;
  }
}
